body {
background-color: #ffffff;
border: solid 105px;



border-color: #ffffff;
font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
@media screen and ( max-width:479px )
{
	p
	{
		color: #ffffff;	/* 赤色 */
	}
}

}

}

p {color: #333333;list .title {
	font-size: 16px;
}
font-size: 1em;
margin: 1px 35px;
}

</style>
